{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djangoブログ</title>
    <link rel="stylesheet" href="{% static 'method2/sample.css' %}">
</head>
<body>
    <a href="{% url 'toppage' %}"><header><div id="header-container"><div id="head-inner"><font size="20" color="white"><img src="method2/S__27017222_0.jpg" width="40" height="50"></a>
        <b>KITinder</b></font>
    
    
    <p class="description">〜工大生向けのマッチング掲示板〜</p></div></div>
    
    </header>
    
    <nav class="navbar is-danger">
        <div class = "navbar-brand">
        </div>
    </nav>

    <section class = "section">
        <div class = "container">

            {% block content %}
            {% endblock %}
        </div>
    </section>


</body>
</html>