{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djangoブログ</title>
    <link rel="stylesheet" href="{% static 'method2/sample.css' %}">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
<body>
    <a href="{% url 'toppage' %}"><header><div id="header-container"><div id="head-inner"><font size="20" color="white"><img src="{% static 'method2/S__27017222_0.png' %}" width="60" height="70"></a>
        <b>KITinder</b></font>
    
    
    <p class="description">〜工大生向けのマッチング掲示板〜</p></div></div>
    
    </header>
<body>

<py-script>
    values = request.POST.getlist('subject') 
    print(values)

</py-script>


</body>
</html>

